@charset "UTF-8";

:root {
    --bg-light-color: #CCDEEF;
    --font-color: #046380;
    --cards-color: #86B6D9;
}

body {
    background-color: var(--bg-light-color);
    color: var(--font-color);
}

#theme-switcher {
    background-color: var(--font-color);
}

#profile #photo {
    border: 4px solid var(--font-color);
}

.cards {
    background-color: var(--cards-color);
}